<div class="movie-card">
	<a href="#movie/<%= id %>">
		<object type="image/jpg" data="http://image.tmdb.org/t/p/w600/<%=  backdropPath %>" alt="<%= title %>">
			<img src="images/thumbnail-horizontal.png" alt="<%= title %>">
		</object>

		<div class="l-clearfix">
			<div class="align-right movie-rating">
				<p class="movie-rating"><%= voteAverage %> <i class="fa fa-star"></i></p>
			</div>
			<div class="movie-title">
				<h3 class="movie-title"><a href="#movie/<%= id %>"><%= title %></a></h3>
			</div>
		</div>
	</a>
</div>