<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><i class="fa fa-film"></i> CinemaClub</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Главная <span class="sr-only">(current)</span></a></li>
					<li><a href="/favourites">Мои фильмы</a></li>
				</ul>

				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="">
					</div>
					<button type="submit" class="btn btn-default">Найти</button>
				</form>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>

<div class="page-content">
	
</div>

<footer class="footer">
	<div class="container">
		<p class="text-muted footer-text">Created by Trofimovich Eugene, 2015</p>
		<p class="text-muted footer-text">Project uses API from <a href="https://www.themoviedb.org/" target="_blank">themoviedb.org</a></p>
	</div>
</footer>