html,
body {
	height: 100%;
}

body {
	padding-top: 50px;
}

h2 {
	font-size: 40px;
}

.page-content {
	min-height: 100%;
}

.page-content section:last-of-type {
	margin-bottom: 60px;
}

.footer {
	background: #f8f8f8;
	clear: both;
	height: 60px;
	margin-top: -60px;
	padding-top: 0;
	position: relative;
	width: 100%;
}

.movie-card {
	margin-bottom: 15px;
}

.movie-card object,
.movie-card img {
	width: 100%;
	margin-bottom: 5px;
}

.movie-card-main object,
.movie-card-main img {
	width: 100%;
	margin-bottom: 15px;
}

.movie-title {
	margin-top: 10px;
	font-size: 20px;
	text-decoration: none;
	color: #555;
}

.movie-title:hover {
	text-decoration: none;
	color: #000;
}

.movie-title-main {
	font-size: 36px;
}

.footer .footer-text {
	text-align: center;
}


/* ---- Movie Card Page ---- */
.movie-poster img {
	width: 100%;
}

.movie-props {
	font-size: 18px;
	list-style-type: none;
}
	.movie-prop {
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px solid #eee;
	}

	.movie-prop-name {
		font-weight: bold;
	}

	.movie-prop-value {
		float: right;
	}

.movie-description {
	font-size: 16px;
	margin-top: 20px;
}