/* Compass */
/* Bootstrap */
@import url(../vendor/bootstrap/dist/css/bootstrap.min.css);
/* Utilites */
/* Settings */
/* Typography */
/* Colors */
/* Misc */
/* Utilites */
@import url(../vendor/font-awesome/css/font-awesome.min.css);
/* line 3, ../sass/utilities/_utilities.scss */
.text-left {
  text-align: left;
}

/* line 7, ../sass/utilities/_utilities.scss */
.text-right {
  text-align: right;
}

/* line 11, ../sass/utilities/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 15, ../sass/utilities/_utilities.scss */
.align-left {
  float: left;
}

/* line 19, ../sass/utilities/_utilities.scss */
.align-right {
  float: right;
}

/* line 23, ../sass/utilities/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../sass/utilities/_utilities.scss */
.rounded-borders {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Base styles */
/* General Styles */
/* line 2, ../sass/base/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/base/_base.scss */
html {
  font-size: 14px;
}

/* line 14, ../sass/base/_base.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 18, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: normal;
}

/* line 28, ../sass/base/_base.scss */
h1 {
  font-size: 3.375rem;
}

/* line 32, ../sass/base/_base.scss */
h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 21px;
}

/* line 38, ../sass/base/_base.scss */
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 43, ../sass/base/_base.scss */
h4 {
  font-size: 1rem;
}

/* line 47, ../sass/base/_base.scss */
h5 {
  font-size: .75rem;
}

/* line 51, ../sass/base/_base.scss */
h6 {
  font-size: .444rem;
}

/* line 55, ../sass/base/_base.scss */
p {
  margin-bottom: 21px;
  line-height: 21px;
}

/* line 60, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #333;
}
/* line 63, ../sass/base/_base.scss */
a:hover {
  color: #777;
  text-decoration: underline;
}

/* Fonts */
/* Fonts Import */
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
/* Layout styles */
/* line 1, ../sass/layout/_misc.scss */
.l-list, .l-list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/layout/_misc.scss */
.l-list-inline li {
  float: left;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/layout/_misc.scss */
.l-list-col-3 li {
  width: 33.3%;
  padding-right: 1%;
}
/* line 23, ../sass/layout/_misc.scss */
.l-list-col-3 li:last-of-type {
  padding-right: 0;
}

/* Header Layout */
/* Footer Layout */
/* line 3, ../sass/layout/_footer.scss */
.l-footer {
  margin: 0;
  padding: 2em 0;
  border-top: 1px solid #E7E7E7;
  color: #333;
  background-color: #E7E7E7;
}
/* line 12, ../sass/layout/_footer.scss */
.l-footer a {
  color: #2382C9;
}
/* line 15, ../sass/layout/_footer.scss */
.l-footer a:hover {
  color: #2382CA;
}

/* Modules (reusable components) styles */
/* Other modules */
/* line 3, ../sass/modules/_misc.scss */
.image-card img, .movie-card img, .movie-card-main img {
  width: 100%;
  margin-bottom: 1rem;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 9, ../sass/modules/_misc.scss */
.image-card .card-title, .movie-card .card-title, .movie-card-main .card-title {
  font: bold 16.8px/25.2px "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* line 15, ../sass/modules/_misc.scss */
.image-card .card-subtitle, .movie-card .card-subtitle, .movie-card-main .card-subtitle {
  font: italic 12.6px/18.9px "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/modules/_misc.scss */
.movie-card, .movie-card-main {
  margin-bottom: 3rem;
}
/* line 26, ../sass/modules/_misc.scss */
.movie-card .movie-title, .movie-card-main .movie-title, .movie-card .movie-rating, .movie-card-main .movie-rating {
  margin: 0;
  padding: 0;
  font: 19.6px/29.4px "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 44, ../sass/modules/_misc.scss */
.movie-card-main img {
  margin-bottom: 1rem;
}
/* line 48, ../sass/modules/_misc.scss */
.movie-card-main .movie-title, .movie-card-main .movie-rating {
  font: 35px/52.5px "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 54, ../sass/modules/_misc.scss */
.movies-main-block > h2 {
  font: bold 35px/52.5px "Open Sans", Helvetica, Arial, sans-serif;
}

/* Styles for images block in movie and actor pages */
/* line 62, ../sass/modules/_misc.scss */
.m-images-composite img {
  width: 100%;
  margin-bottom: 1rem;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 2, ../sass/modules/_labels.scss */
.fa-heart-o:hover {
  color: red;
}

/* Styles for movie list in the main page */
/* line 2, ../sass/modules/_lists.scss */
.movie-list {
  list-style-type: none;
  margin-top: -1.5em;
}
/* line 6, ../sass/modules/_lists.scss */
.movie-list > li {
  border-bottom: 1px solid #E7E7E7;
  padding: 0;
  margin: 0;
}
/* line 11, ../sass/modules/_lists.scss */
.movie-list > li h3 {
  text-decoration: none;
  font: 16.8px/25.2px "Open Sans", Helvetica, Arial, sans-serif;
}
/* line 18, ../sass/modules/_lists.scss */
.movie-list > li:last-of-type {
  border-bottom: none;
}
/* line 22, ../sass/modules/_lists.scss */
.movie-list p {
  font: italic normal 12.6px/18.9px "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
}
/* line 27, ../sass/modules/_lists.scss */
.movie-list .movie-rating {
  margin-top: 1.5rem;
}
/* line 29, ../sass/modules/_lists.scss */
.movie-list .movie-rating p {
  font: 16.8px/25.2px "Open Sans", Helvetica, Arial, sans-serif;
}

/* Styles for statistics for movies and actors */
/* line 36, ../sass/modules/_lists.scss */
.m-stats-list {
  font: 18.2px/27.3px "Open Sans", Helvetica, Arial, sans-serif;
}
/* line 39, ../sass/modules/_lists.scss */
.m-stats-list li {
  overflow: hidden;
  *zoom: 1;
  padding: 1em 0;
  border-bottom: 1px solid #E7E7E7;
}
/* line 44, ../sass/modules/_lists.scss */
.m-stats-list li:last-of-type {
  border-bottom: none;
}
/* line 49, ../sass/modules/_lists.scss */
.m-stats-list .stat-name {
  text-transform: uppercase;
  float: left;
}
/* line 54, ../sass/modules/_lists.scss */
.m-stats-list .stat-value {
  float: right;
}

/* line 59, ../sass/modules/_lists.scss */
.m-cards-list {
  overflow: hidden;
  *zoom: 1;
}

/* line 64, ../sass/modules/_lists.scss */
.m-composite-list > li {
  margin: 3em 0;
}
/* line 68, ../sass/modules/_lists.scss */
.m-composite-list h3 {
  padding: 0 0 .5em 0;
  margin: 0 0 .5em 0;
  font: 28px/42px "Open Sans", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #E7E7E7;
}

/* Specific page styles */
/* line 1, ../sass/pages/_index.scss */
.main {
  margin-top: 4.5rem;
}
/* line 4, ../sass/pages/_index.scss */
.main .movies-main-block {
  border-bottom: 2px solid #E7E7E7;
}

/* line 2, ../sass/pages/_list.scss */
.list-page h2 {
  font: bold 35px/52.5px "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 2, ../sass/pages/_movie.scss */
.movie-page .m-stats-list li:first-child {
  padding-top: 0;
}
/* line 6, ../sass/pages/_movie.scss */
.movie-page .row {
  margin-bottom: 1.5rem;
}

/* line 2, ../sass/pages/_actor.scss */
.actor-page .m-stats-list li:first-child {
  padding-top: 0;
}
/* line 6, ../sass/pages/_actor.scss */
.actor-page .row {
  margin-bottom: 1.5rem;
}

/* Theme styles */
