/* Footer Layout */

.l-footer {
	margin: 0;
	padding: 2em 0;
	height: $footer-height;

	border-top: 1px solid #E7E7E7;

	color: $color-text;
	background-color: $primary-color;

	a {
		color: $color-secondary-link;

		&:hover {
			color: $color-secondary-link-hover;
		}
	}
}