<li>
	<div class="row">
		<span class="absolute-top-right"><i class="fa fa-times" title="Remove from favourites"></i></span>
		<div class="col-md-4 col-sm-12 image-card">
			<img src="http://image.tmdb.org/t/p/w600/<%= backdropPath %>" alt="<%= title %>">
		</div>
		<div class="col-md-8 col-sm-12">
			<h3 class="clearfix">
				<a href="/#movie/<%= id %>" class="align-left"><%= title %></a>
				</a><span class="align-right"><%= voteAverage %> <i class="fa fa-star"></i></span>
			</h3>
			<p><%= overview %></p>
		</div>
	</div>
</li>