/* Other modules */
.image-card {
	object,
	img {
		width: 100%;
		margin-bottom: 1rem;
		@include border-radius($common-border-radius);
	}

	.card-title {
		font: bold #{$base-font-size }/#{$base-font-size * 1.2} $primary-font;
		height: $base-font-size*2.4;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	.card-subtitle {
		font: italic #{$base-font-size * 0.9 }/#{$base-font-size * 0.9} $primary-font;
		height: $base-font-size*1.8;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
}

.movie-card {
	@extend .image-card;
	margin-bottom: 3rem;

	.movie-title {
		margin: 0;
		padding: 0;
		font: #{$base-font-size* 1.4 }/#{$baseline*1.4} $primary-font;
	}

	.movie-rating {
		@extend .movie-title;
		width: auto;

		.fa-star {
		}
	}
}

.movie-card-main {
	@extend .movie-card;

	img {
		margin-bottom: 1rem;
	}

	.movie-title {
		font: #{$base-font-size* 2.5 }/#{$baseline*2.5} $primary-font;
	}
}

.movies-main-block {
	> h2 {

		font: bold #{ $base-font-size * 2.5 }/#{ $baseline * 2.5 } $primary-font;
	}
}

/* Styles for images block in movie and actor pages */
.m-images-composite {
	object,
	img {
		width: 100%;
		margin-bottom: 1rem;
		@include border-radius($common-border-radius);
	}
}

.autocomplete {
	position: fixed;
	width: 60%;
	left: 20%;
	top: 60px;
	height: 600px;
	background: rgba(255,255,255, .9);
	border-radius: 10px;
	border: 1px solid $primary-color;
	overflow:hidden;
	z-index: 100;
	
	.nicescroll {
		overflow: hidden;
	}
}